/* American Palette ( flat ui colours ) */
$col_grass:#2ecc71;
$col_pond:#27ae60;
$col_teal: #55efc4;
$col_mint: #00b894;
$col_cyan: #81ecec;
$col_robin: #00cec9;
$col_sky: #74b9ff;
$col_marin: #0984e3;
$col_lilac: #a29bfe;
$col_royal: #6c5ce7;
$col_lemon: #ffeaa7;
$col_mustard: #fdcb6e;
$col_peach: #fab1a0;
$col_brick: #e17055;
$col_rose: #ff7675;
$col_blood: #d63031;
$col_pink: #fd79a8;
$col_darkpink: #e84393;
$col_light: #dfe6e9;
$col_medium: #b2bec3;
$col_solid: #636e72;
$col_dark: #2d3436;
